:root {
  --primary-background-color: LavenderBlush;
  --primary-background-color-darker: #ffdce7;
  --secondary-background-color: bisque;
  --list-seperation-color: papayawhip;
  --red-color: #fc999b;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: medium;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color-darker);
  line-height: normal;
  text-align: center;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-family: 'Londrina Outline', cursive;
  font-weight: var(--font-weight);
  line-height: normal;
  font-size: 50px;
}

.page-header {
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid var(--primary-accent-color);
}

.container {
  max-width: 100%;
}

.description {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background: var(--list-seperation-color);
}

table tr:nth-child(even) {
  background: var(--secondary-background-color);
}

th {
  color: lightslategray;
  font-size: 20px;
  background: var(--secondary-background-color);
  border: 1px solid white;
}

td {
  padding: 10px;
  border: 1px solid white;
}

pre {
  max-height: 200px;
  margin-left: 20px;
  text-align: left;
}

.url {
  margin-left: 0px;
  padding: 10px;
  max-width: 300px;
  overflow: auto;
}

.response-json {
  max-width: 300px;
  overflow: auto;
}

@media all and (min-width: 1435px) and (max-width: 1535px) {
  *,
  *:after,
  *::before {
    font-size: small;
  }
}

@media all and (max-width: 1435px) {
  *,
  *:after,
  *::before {
    font-size: medium;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr,
  pre,
  .url,
  .response-json {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 5px solid var(--primary-background-color-darker);
  }

  td,
  pre {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 2px solid white;
    position: relative;
    padding-left: 50%;
  }

  td:before,
  .response-json:before,
  .url:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .response-json,
  .url {
    max-height: 100px;
    position: relative;
    left: 49%;
    width: 45%;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: 'Description';
  }
  .url:before {
    content: 'URL Endpoint';
  }
  td:nth-of-type(3):before {
    content: 'HTTP Method';
  }
  td:nth-of-type(4):before {
    content: 'Request Body Format';
  }
  .response-json:before {
    content: 'Response Body Format';
  }
}
