:root {
  --primary-background-color: LavenderBlush;
  --primary-background-color-darker: #ffdce7;
  --secondary-background-color: bisque;
  --list-seperation-color: papayawhip;
  --red-color: #fc999b;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: small;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color-darker);
  line-height: normal;
  text-align: center;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-family: 'Londrina Outline', cursive;
  font-weight: var(--font-weight);
  line-height: normal;
  font-size: 50px;
}

.page-header {
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid rosybrown;
}

.container {
}

.description {
  padding: 20px;
}

.documentation-tables {
  background-color: white;
  width: 75%;
}

th {
  color: lightslategray;
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid white;
  text-align: left;
}

table tr:nth-child(even) {
  background: var(--list-seperation-color);
}
table tr:nth-child(odd) {
  background: var(--secondary-background-color);
}

td {
  max-width: 400px;
}

tr,
pre {
  max-height: 300px;
}

pre {
  margin-left: 20px;
  overflow: scroll;
  text-align: left;
}
