:root {
  --primary-background-color: LavenderBlush;
  --primary-background-color-darker: #ffdce7;
  --secondary-background-color: bisque;
  --list-seperation-color: papayawhip;
  --grey: lightslategray;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: medium;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color-darker);
  line-height: normal;
  text-align: center;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-family: 'Londrina Outline', cursive;
  font-weight: var(--font-weight);
  line-height: normal;
  font-size: 50px;
}

.page-header {
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid var(--primary-accent-color);
}

.container {
  max-width: 100%;
}

.description {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background: var(--list-seperation-color);
}

table tr:nth-child(even) {
  background: var(--secondary-background-color);
}

th {
  color: var(--grey);
  font-size: 20px;
  background: var(--secondary-background-color);
  border: 1px solid white;
}

td {
  padding: 10px;
  border: 1px solid white;
}

pre {
  max-height: 200px;
  margin-left: 20px;
  text-align: left;
}

.url .pre-container {
  max-width: 400px;
  overflow: auto;
  height: auto;
  width: auto;
}

.response-json {
  overflow: auto;
  height: auto;
  width: auto;
  max-width: 400px;
}

.pre-container {
  width: 300px;
  overflow: auto;
  height: 300px;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

table td,
table td * {
  vertical-align: top;
}
pre {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
}
pre code {
  padding: 10px;
  color: #333;
}

@media all and (min-width: 1435px) and (max-width: 1535px) {
  *,
  *:after,
  *::before {
    font-size: small;
  }
}

@media all and (max-width: 1435px) {
  *,
  *:after,
  *::before {
    font-size: medium;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 5px solid var(--primary-background-color-darker);
  }

  td {
    border: none;
    border-bottom: 2px solid white;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    /* padding-right: 10px; */
    white-space: nowrap;
  }

  .url {
    overflow: auto;
  }

  .pre {
    height: 250px;
  }
  .url .pre-container {
    max-width: unset;
  }

  .url .pre-container {
    height: auto;
  }
  .pre-container {
    margin-top: 20px;
    height: 200px;
    width: 300px;
  }

  .response-json {
    max-width: unset;
  }

  td:nth-of-type(1):before {
    content: 'Description';
    font-weight: bold;
    color: var(--grey);
    margin-top: 5px;
  }
  .url:before {
    content: 'URL Endpoint';
    font-weight: bold;
    color: var(--grey);
    margin-top: 20px;
  }
  td:nth-of-type(3):before {
    content: 'HTTP Method';
    font-weight: bold;
    color: var(--grey);
    margin-top: 5px;
  }
  td:nth-of-type(4):before {
    content: 'Request Body Format';
    font-weight: bold;
    color: var(--grey);
    margin-top: 5px;
  }
  .response-json:before {
    content: 'Response Body Format';
    font-weight: bold;
    color: var(--grey);
    height: auto;
    margin-top: 25px;
  }
}
